* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header-absolute {
    min-height: 15vh;
    width: 100%;
    background-color: rgb(130, 130, 130);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid rgb(73, 66, 61);
}
.avatar-container {
    height: 70px;
    width: 70px;
    align-self: center;
    margin-left: 10px;
}
.avatar-container img {
    height: 100%;
    width: 100%;
}
.button_allcourses {
    width: 120px;
    height: 50px;
    align-self: center;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.1s;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(73, 66, 61);
    border-image: initial;
}
.button_mycourses {
    width: 120px;
    height: 50px;
    align-self: center;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.1s;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(73, 66, 61);
    border-image: initial;
}
.container {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    width: 100%;
    max-width: 150vh;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-self: center;
    background: white;
    padding: 40px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(73, 66, 61);
    border-image: initial;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.submits {
    font-size: 16px;
    padding: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 5px;
    transition: border-color 0.3s;
}
.find {
    width: 40%;
    font-size: 16px;
    padding: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 5px;
    transition: border-color 0.3s;
}
.courses {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}
.block_course{
    height: 300px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-image: initial;
    text-overflow: ellipsis;
    overflow: hidden;
}
.block_course:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
    
}
.block_heading{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: darkblue;
    font-size: 30px;
    height: 35%;
    padding: 15px;
    padding-top:35px;
    text-overflow: ellipsis;
    overflow: hidden;
    color:white;
    white-space: nowrap;
    
}
.block_name{
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px;
}
.block_description{
    text-overflow: ellipsis;
    margin: 10px;
}